@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif !important;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden !important;
  background-color: #2d2e32;
}

.app {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}
